@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
.background {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.frame {
  background-color: #ffffff;
  width: 1440px;
  height: 1959px;
  position: relative;
}
.side-bar {
  position: absolute;
  width: 313px;
  height: 1665px;
  top: 70px;
  left: 37px;
  background-color: #ffffff;
  border-radius: 15.04px;
  overflow: hidden;
  box-shadow: 0px 4.01px 20.06px #00000033;
}
.side-bar-logo {
  position: absolute;
  width: 241px;
  height: 58px;
  top: 37px;
  left: 36px;
}
.side-bar-profile {
  position: absolute;
  width: 241px;
  height: 239px;
  top: 125px;
  left: 36px;
  background-color: #222425;
  border-radius: 215.01px;
  overflow: hidden;
  box-shadow: 0px 0px 10.75px #00000040;
}
.side-bar-profile-picture {
  position: absolute;
  width: 241px;
  height: 239px;
  top: 0;
  left: 0;
  object-fit: cover;
  background: url("image/profile_image.png") lightgray 50% / cover no-repeat;
}
.name-tag {
  position: absolute;
  width: 245px;
  height: 132px;
  top: 379px;
  left: 36px;
}
.name {
  position: absolute;
  width: 241px;
  top: 0;
  left: 0;
  font-family: "RixRak-Sans_Pro-Bold", Helvetica;
  font-weight: 700;
  color: #222425;
  font-size: 48.1px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.sub-name {
  position: absolute;
  width: 241px;
  top: 71px;
  left: 0;
  color: #81898f;
  font-size: 18.1px;
  text-align: center;
  font-family: "RixRak-Sans_Pro-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.info {
  position: absolute;
  width: 240px;
  height: 105px;
  top: 523px;
  left: 36px;
}
.info-detail {
  position: absolute;
  width: 242px;
  height: 16px;
  top: 0;
  left: 0;
}
.info-detail-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
}
.info-detail-exp {
  position: absolute;
  width: 215px;
  top: 0;
  left: 25px;
  font-family: "RixRak-Sans_Pro-Regular", Helvetica;
  font-weight: 400;
  color: #5f666b;
  font-size: 11.2px;
  letter-spacing: 0;
  line-height: normal;
}
.strength-div {
  position: absolute;
  width: 239px;
  height: 92px;
  top: 135px;
}
.strength {
  position: absolute;
  width: 72px;
  height: 92px;
  top: 0;
  left: 0;
}
.strength-text {
  position: absolute;
  width: 70px;
  top: 77px;
  left: 0;
  font-family: "RixRak-Sans_Pro-Regular", Helvetica;
  font-weight: 400;
  color: #5f666b;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.strength-img {
  position: absolute;
  width: 70px;
  height: 68px;
  top: 0;
  left: 0;
}
.line {
  position: absolute;
  width: 241px;
  height: 1px;
  top: 256px;
  background: rgba(34, 36, 37, 0.2);
}
.skill-title {
  position: absolute;
  width: 241px;
  height: 16px;
  top: 288px;
}
.skill-title-text {
  position: absolute;
  width: 216px;
  top: 0;
  left: 23px;
  font-family: "RixRak-Sans_Pro-Regular", Helvetica;
  font-weight: 400;
  color: #5f666b;
  font-size: 11.3px;
  letter-spacing: 0;
  line-height: normal;
}
.skill-title-img {
  width: 13px;
  height: 13px;
  top: 2px;
  position: absolute;
  left: 0;
}
.skill-set {
  position: absolute;
  width: 243px;
  height: 245px;
  top: 323px;
}
.point {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 6px;
  left: 0;
  background-color: #222425;
  border-radius: 3.45px;
}
.skill-text {
  position: absolute;
  width: 170px;
  top: 0;
  left: 15px;
  font-family: "RixRak-Sans_Pro-Bold", Helvetica;
  font-weight: 700;
  color: #1d1f20;
  font-size: 12.5px;
  letter-spacing: 0;
  line-height: normal;
}
.skill-bar {
  position: absolute;
  width: 233px;
  height: 14px;
  top: 349px;
  left: 0;
  background-color: #ffffff;
  border-radius: 9.41px;
  box-shadow: 0px 1.25px 3.95px #00000026;
}
.skill-bar-progress {
  position: relative;
  width: 115px;
  height: 14px;
  left: 7px;
}
.skill-bar-rectangle {
  position: absolute;
  width: 110px;
  height: 6px;
  top: 4px;
  left: 0;
  background-color: #222425;
  border-radius: 8.15px;
}
.skill-bar-o1 {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 101px;
  background-color: #ffffff;
  border-radius: 6.9px;
  box-shadow: 0px 0px 2.51px #00000026;
}
.skill-bar-o2 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 3px;
  left: 105px;
  background-color: #222425;
  border-radius: 3.76px;
}
/*생략*/
.intro-div {
  position: absolute;
  width: 999px;
  height: 471px;
  top: 70px;
  left: 382px;
  border-radius: 15.04px;
  overflow: hidden;
  box-shadow: 0px 4.01px 20.06px #00000033;
  background: linear-gradient(
    180deg,
    rgba(34, 36, 37, 0) 0%,
    rgba(34, 36, 37, 0.2) 100%
  );
}
.intro-frame {
  position: relative;
  height: 471px;
}
.intro-logo {
  position: absolute;
  opacity: 20%;
  width: 641px;
  height: 210px;
  top: 261px;
  left: 126px;
}
.intro-picture-frame {
  position: absolute;
  width: 356px;
  height: 356px;
  top: 57px;
  left: 579px;
  background-color: #ffffff;
}
.intro-picture {
  position: absolute;
  width: 356px;
  height: 356px;
  top: 0;
  left: 0;
  object-fit: cover;
}
.intro-star {
  position: absolute;
  width: 104px;
  height: 104px;
  top: 72px;
  left: 526px;
}
.intro-content {
  position: absolute;
  width: 465px;
  height: 255px;
  top: 118px;
  left: 52px;
}
.intro-quote {
  position: absolute;
  width: 50px;
  height: 41px;
  top: 0;
  left: 0;
}
.intro-text {
  position: absolute;
  width: 461px;
  top: 56px;
  left: 0;
  font-family: "RixRak-Sans_Pro-Bold", Helvetica;
  font-weight: 700;
  color: #1d1f20;
  font-size: 36.1px;
  letter-spacing: 0;
  line-height: normal;
}
.intro-text-detail {
  position: absolute;
  width: 461px;
  top: 171px;
  left: 0;
  font-family: "RixRak-Sans_Pro-Regular", Helvetica;
  font-weight: 400;
  color: #5f666b;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.intro-contact {
  gap: 11.17px;
  padding: 3.35px 16.75px;
  position: absolute;
  top: 229px;
  left: 0;
  border-radius: 24.57px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #222425;
}
.intro-contact-text {
  position: relative;
  width: fit-content;
  margin-top: -1.12px;
  font-family: "RixRak-Sans_Pro-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14.5px;
  letter-spacing: 0;
  line-height: normal;
}
.intro-row-line {
  position: absolute;
  width: 999px;
  height: 1px;
  top: 56px;
  left: 0;
  background: #222425;
}
.intro-column-line {
  position: absolute;
  width: 1px;
  height: 471px;
  top: 0;
  left: 578px;
  background: #222425;
}
.experience-div {
  position: absolute;
  width: 999px;
  height: 356px;
  top: 596px;
  left: 382px;
}
.experience-title {
  position: absolute;
  width: 999px;
  height: 356px;
  left: 11px;
}
.experience-img {
  width: 27px;
  height: 22px;
  top: 4px;
  position: absolute;
  left: 0;
}
.experience-text {
  position: absolute;
  width: 167px;
  top: 0;
  left: 35px;
  font-family: "RixRak-Sans_Pro-Bold", Helvetica;
  font-weight: 700;
  color: #1d1f20;
  font-size: 23.1px;
  letter-spacing: 0;
  line-height: normal;
}
.experience-prev {
  position: absolute;
  width: 36px;
  height: 72px;
  top: 166px;
  left: 11px;
}
