@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "RixRak-Sans_Pro", Helvetica, Arial, sans-serif;
}

.background {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame {
  background-color: #ffffff;
  width: 1440px;
  height: auto; /* 내용에 따라 자동으로 높이 조절 */
  position: relative;
}

.side-bar {
  position: absolute;
  width: 312px;
  height: auto; /* 내용에 따라 자동으로 높이 조절 */
  top: 20px;
  left: 20px;
  background-color: #f5f5f5;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-bottom: 30px; /* 하단 여백 추가 */
}

.side-bar-logo {
  position: relative;
  width: 240px;
  height: 58px;
  margin-top: 35px;
  margin-left: 36px;
}

.side-bar-profile {
  position: relative;
  width: 240px;
  height: 240px;
  margin-top: 30px;
  margin-left: 36px;
  background-color: #d9d9d9;
  border-radius: 120px;
  overflow: hidden; /* Added this line */
}

.side-bar-profile-picture {
  width: 240px;
  height: 240px;
  object-fit: cover;
  object-position: center 30%; /* Added this line */
  border-radius: 120px;
  transform: scale(1.2); /* Added this line */
}

.name-tag {
  position: relative;
  width: 241px;
  height: 103px;
  margin-top: 40px;
  margin-left: 36px;
}

.name {
  position: relative;
  width: 241px;
  font-family: "RixRak-Sans_Pro-Bold", Helvetica;
  font-weight: 700;
  color: #222425;
  font-size: 48.1px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.sub-name {
  position: relative;
  width: 241px;
  margin-top: 10px;
  color: #81898f;
  font-size: 18.1px;
  text-align: center;
  font-family: "RixRak-Sans_Pro-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.info {
  position: relative;
  width: 240px;
  height: 105px;
  margin-top: 40px;
  margin-left: 36px;
}

.info-detail {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info-detail-icon {
  width: 16px;
  height: 16px;
  margin-right: 9px;
}

.info-detail-exp {
  font-family: "RixRak-Sans_Pro-Regular", Helvetica;
  font-weight: 400;
  color: #5f666b;
  font-size: 11.2px;
  letter-spacing: 0;
  line-height: 16px;
}

.strength-div {
  position: relative;
  width: 239px;
  height: 92px;
  margin-top: 30px;
  margin-left: 36px;
  display: flex;
  justify-content: space-between;
}

.strength {
  width: 72px;
  height: 92px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.strength-img {
  width: 70px;
  height: 68px;
  margin-bottom: 9px;
}

.strength-text {
  font-family: "RixRak-Sans_Pro-Regular", Helvetica;
  font-weight: 400;
  color: #5f666b;
  font-size: 11px;
  line-height: 1.2;
}

.line {
  position: relative;
  width: 241px;
  height: 1px;
  margin-top: 29px;
  margin-left: 36px;
  background: rgba(34, 36, 37, 0.2);
}

.skill-wrap {
  position: relative;
  width: 241px;
  margin-top: 31px;
  margin-left: 36px;
}

.skill-title {
  position: relative;
  width: 100%;
  height: 20px; /* 높이 추가 */
  margin-bottom: 20px; /* 간격 조정 */
}

.skill-title-img {
  width: 13px;
  height: 13px;
  position: absolute;
  left: 0;
  top: 2px;
}

.skill-title-text {
  position: absolute;
  width: 216px;
  top: 0;
  left: 23px;
  font-family: "RixRak-Sans_Pro-Regular", Helvetica;
  font-weight: 400;
  color: #5f666b;
  font-size: 11.3px;
  letter-spacing: 0;
  line-height: normal;
}

.skill-item {
  width: 100%;
  margin-bottom: 12px;
  position: relative; /* 추가 */
  clear: both; /* 추가 */
}

.skill-set {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.point {
  width: 7px;
  height: 7px;
  background-color: #222425;
  border-radius: 3.69px;
  margin-right: 8px;
}

.skill-text {
  font-family: "RixRak-Sans_Pro-Bold", Helvetica;
  font-weight: 700;
  color: #1d1f20;
  font-size: 12.5px;
  letter-spacing: 0;
  line-height: normal;
}

.skill-bar {
  width: 233px;
  height: 14px;
  background-color: #ffffff;
  border-radius: 9.41px;
  box-shadow: 0px 1.25px 3.95px #00000026;
  margin-top: 10px;
  position: relative;
}

.skill-bar-progress {
  position: absolute;
  height: 14px;
  left: 7px;
}

.skill-bar-rectangle {
  position: absolute;
  height: 6px;
  top: 4px;
  left: 0;
  background-color: #222425;
  border-radius: 8.15px;
}

.skill-bar-o1 {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  background-color: #ffffff;
  border-radius: 6.9px;
  box-shadow: 0px 0px 2.51px #00000026;
}

.skill-bar-o2 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 3px;
  background-color: #222425;
  border-radius: 3.76px;
}

.license-div {
  position: relative;
  width: 241px;
  margin-top: 30px; /* line과의 간격 */
  margin-left: 36px;
}

.license-img {
  width: 16px;
  height: 11px;
  display: inline-block;
  vertical-align: middle;
}

.license-title {
  display: inline-block;
  vertical-align: middle;
  margin-left: 7px;
  font-family: "RixRak-Sans_Pro-Regular", Helvetica;
  font-weight: 400;
  color: #5f666b;
  font-size: 11.3px;
  letter-spacing: 0;
  line-height: normal;
}

.license-wrap {
  position: relative;
  width: 241px;
  margin-top: 20px; /* license-title과의 간격 */
}

.license-content {
  position: relative;
  width: 100%;
  height: 39px;
  background-color: #22242533;
  border-radius: 5px;
  border: 2px solid;
  border-color: #222425;
  margin-bottom: 5px; /* 각 license-content 사이의 간격 */
}

.license-text {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-family: "RixRak-Sans_Pro-Bold", Helvetica;
  font-weight: 700;
  color: #1d1f20;
  font-size: 12.5px;
  letter-spacing: 0;
  line-height: normal;
}

.education-div {
  position: relative;
  width: 241px;
  margin-top: 30px; /* license-div와의 간격 */
  margin-left: 36px;
}

.education-title {
  position: relative;
  width: 100%;
  height: 15px;
  margin-bottom: 20px;
}

.education-text {
  position: absolute;
  width: 216px;
  top: 0;
  left: 25px;
  font-family: "RixRak-Sans_Pro-Regular", Helvetica;
  font-weight: 400;
  color: #5f666b;
  font-size: 11.2px;
  letter-spacing: 0;
  line-height: normal;
}

.education-img {
  position: absolute;
  width: 15px;
  height: 11px;
  top: 2px;
  left: 0;
}

.education-content {
  position: relative;
  width: 100%;
}

.education-name {
  width: 100%;
  font-family: "RixRak-Sans_Pro-Bold", Helvetica;
  font-weight: 700;
  color: #1d1f20;
  font-size: 16.4px;
  line-height: normal;
  margin-bottom: 10px;
}

.education-detail {
  width: 100%;
  font-family: "RixRak-Sans_Pro-Regular", Helvetica;
  font-weight: 400;
  color: #5f666b;
  font-size: 11.2px;
  line-height: normal;
  margin-bottom: 20px;
}

.main-content {
  position: absolute;
  width: 1127px;
  height: 1458px;
  left: 313px;
  top: 0;
  background-color: #ffffff;
  border-radius: 50px 0px 0px 0px;
}

.intro-div {
  position: absolute;
  width: 999px;
  height: 471px;
  top: 70px;
  left: 382px;
  border-radius: 15.04px;
  overflow: hidden;
  box-shadow: 0px 4.01px 20.06px #00000033;
  background: linear-gradient(
    180deg,
    rgba(34, 36, 37, 0) 0%,
    rgba(34, 36, 37, 0.2) 100%
  );
}

.intro-frame {
  position: relative;
  height: 471px;
}

.intro-logo {
  position: absolute;
  opacity: 20%;
  width: 641px;
  height: 210px;
  top: 261px;
  left: 126px;
}

.intro-picture-frame {
  position: absolute;
  width: 356px;
  height: 356px;
  top: 57px;
  left: 579px;
  background-color: #ffffff;
}

.intro-picture {
  position: absolute;
  width: 356px;
  height: 356px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.intro-star {
  position: absolute;
  width: 104px;
  height: 104px;
  top: 72px;
  left: 526px;
}

.intro-content {
  position: absolute;
  width: 465px;
  height: 255px;
  top: 118px;
  left: 52px;
}

.intro-quote {
  position: absolute;
  width: 50px;
  height: 41px;
  top: 0;
  left: 0;
}

.intro-text {
  position: absolute;
  width: 461px;
  top: 56px;
  left: 0;
  font-family: "RixRak-Sans_Pro-Bold", Helvetica;
  font-weight: 700;
  color: #1d1f20;
  font-size: 36.1px;
  letter-spacing: 0;
  line-height: normal;
}

.intro-text-detail {
  position: absolute;
  width: 461px;
  top: 171px;
  left: 0;
  font-family: "RixRak-Sans_Pro-Regular", Helvetica;
  font-weight: 400;
  color: #5f666b;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.intro-contact {
  gap: 11.17px;
  padding: 3.35px 16.75px;
  position: absolute;
  top: 229px;
  left: 0;
  border-radius: 24.57px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #222425;
}

.intro-contact-text {
  position: relative;
  width: fit-content;
  margin-top: -1.12px;
  font-family: "RixRak-Sans_Pro-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14.5px;
  letter-spacing: 0;
  line-height: normal;
}

.intro-row-line {
  position: absolute;
  width: 999px;
  height: 1px;
  top: 56px;
  left: 0;
  background: #222425;
}

.intro-column-line {
  position: absolute;
  width: 1px;
  height: 471px;
  top: 0;
  left: 578px;
  background: #222425;
}

.experience-div {
  position: relative;
  width: 999px;
  margin-top: 596px;
  margin-left: 382px;
}

.experience-title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.experience-img {
  width: 27px;
  height: 22px;
  margin-right: 8px;
}

.experience-text {
  font-family: "RixRak-Sans_Pro-Bold", Helvetica;
  font-weight: 700;
  color: #1d1f20;
  font-size: 23.1px;
  letter-spacing: 0;
  line-height: normal;
}

.experience-cards-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: visible;
}

.experience-card-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px; /* 카드 사이의 간격을 24px로 설정 */
  position: relative;
  width: 993px; /* 3개의 카드 ���을 포함한 전체 너비 */
}

.experience-card {
  flex: 0 0 auto;
  width: 315px;
  height: 271px;
  scroll-snap-align: center;
  position: relative;
  border-radius: 13.443px;
  background: rgba(34, 36, 37, 0.2);
  padding: 21px 0 0 0;
  overflow: hidden;
  transition: all 0.3s ease;
}

.experience-card:not(:nth-child(2)) {
  transform: scale(0.75);
  opacity: 0.3;
}

.experience-card:first-child {
  transform-origin: left center;
  position: absolute;
  right: 0;
}

.experience-card:last-child {
  transform-origin: right center;
  position: absolute;
  left: 0;
}

.experience-prev,
.experience-next {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.experience-prev {
  left: -30px;
}

.experience-next {
  right: -30px;
}

.experience-card-period-wrapper {
  width: 54px;
  height: 14px;
  border-radius: 7px;
  background: #222425;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 7px; /* 아래쪽 마진으로 company와의 간격 유지 */
}

.experience-card-period {
  font-family: "NanumSquareOTF-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 7.8px;
  line-height: normal;
  white-space: nowrap;
  letter-spacing: 0;
}

.experience-card-company {
  width: 100%;
  text-align: center;
  font-family: "NanumSquareOTF-ExtraBold", Helvetica;
  font-weight: 800;
  color: #1d1f20;
  font-size: 24.2px;
  line-height: normal;
  letter-spacing: 0;
}

.experience-card-term {
  width: 100%;
  text-align: center;
  color: #5f666b;
  font-size: 11.1px;
  font-family: "NanumSquareOTF-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 5px;
}

.experience-card-team {
  position: absolute;
  width: 113px;
  height: 20px;
  top: 107px;
  left: 33px;
  background-color: #222425;
  border-radius: 13.09px;
}

.experience-card-team-name {
  position: absolute;
  top: 2px;
  left: 12px;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  line-height: normal;
  white-space: nowrap;
  letter-spacing: 0;
}

.experience-card-project {
  position: absolute;
  width: 113px;
  height: 20px;
  top: 171px;
  left: 33px;
  background-color: #222425;
  border-radius: 13.09px;
}

.experience-card-project-name {
  position: absolute;
  top: 2px;
  left: 17px;
  font-family: "NanumSquareOTF-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 12px;
  line-height: normal;
  white-space: nowrap;
  letter-spacing: 0;
}

.experience-card-task {
  position: absolute;
  width: 249px;
  height: 19px;
  top: 138px;
  left: 33px;
}

.experience-card-task-text {
  width: 229px;
  height: 19px;
  top: 0;
  left: 18px;
  font-family: "NanumSquareOTF-Regular", Helvetica;
  font-weight: 400;
  color: #1d1f20;
  font-size: 12px;
  line-height: normal;
  position: absolute;
  letter-spacing: 0;
}

.experience-card-task-term {
  width: 202px;
  top: 203px;
  left: 33px;
  color: #222425;
  font-size: 11.1px;
  white-space: nowrap;
  position: absolute;
  font-family: "NanumSquareOTF-Regular", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.experience-card-task-detail {
  position: absolute;
  width: 249px;
  height: 20px;
  top: 227px;
  left: 33px;
  display: flex;
  align-items: center;
}

.experience-card-task-detail-text {
  font-family: "NanumSquareOTF-Regular", Helvetica;
  font-weight: 400;
  color: #1d1f20;
  font-size: 12px;
  line-height: normal;
  letter-spacing: 0;
}

.project-div {
  position: relative;
  width: 999px;
  margin-top: 50px;
  margin-left: 382px;
}

.project-title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.project-title-img {
  width: 25px;
  height: 25px;
  margin-right: 9px;
}

.project-title-text {
  font-family: "RixRak-Sans_Pro-Bold", Helvetica;
  font-weight: 700;
  color: #1d1f20;
  font-size: 23.1px;
  letter-spacing: 0;
  line-height: normal;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
}

.project {
  width: 486px;
  height: 408px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.project:hover {
  transform: scale(1.05);
}

.project-main-img {
  width: 486px;
  height: 288px;
  background-color: #222425;
  border-radius: 15.04px 15.04px 0px 0px;
}

.project-content {
  width: 486px;
  height: 120px;
  border-radius: 0px 0px 15.04px 15.04px;
  border: 2.01px solid #222425;
  padding: 20px 26px;
}

.project-content-title {
  font-family: "NanumSquareOTF-ExtraBold", Helvetica;
  font-weight: 800;
  color: #1d1f20;
  font-size: 18px;
  margin-bottom: 10px;
}

.project-content-text {
  font-family: "NanumSquareOTF-Regular", Helvetica;
  font-weight: 400;
  color: #5f666b;
  font-size: 11.1px;
  line-height: 20.1px;
  letter-spacing: 0;
}

.project-title-img {
  width: 25px;
  height: 25px;
  margin-right: 9px;
}

.project-title-text {
  font-family: "RixRak-Sans_Pro-Bold", Helvetica;
  font-weight: 700;
  color: #1d1f20;
  font-size: 23.1px;
  letter-spacing: 0;
  line-height: normal;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
}

.project {
  width: 486px;
  height: 408px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.project:hover {
  transform: scale(1.05);
}

.project-main-img {
  width: 486px;
  height: 288px;
  background-color: #222425;
  border-radius: 15.04px 15.04px 0px 0px;
}

.project-content {
  width: 486px;
  height: 120px;
  border-radius: 0px 0px 15.04px 15.04px;
  border: 2.01px solid #222425;
  padding: 20px 26px;
}

.project-content-title {
  font-family: "NanumSquareOTF-ExtraBold", Helvetica;
  font-weight: 800;
  color: #1d1f20;
  font-size: 18px;
  margin-bottom: 10px;
}

.project-content-text {
  font-family: "NanumSquareOTF-Regular", Helvetica;
  font-weight: 400;
  color: #5f666b;
  font-size: 11.1px;
  line-height: 20.1px;
  letter-spacing: 0;
}
